@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

body {
  font-family: var(--font-roboto);
  background-image: url('Valorant-wallpaper1.jpg');
  height: 100%vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size:cover;
  background-position: top;
  
}

.App {
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1{
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}


h1 {
  font-size: 10rem;
  letter-spacing: 0.9px;
  background: linear-gradient(
    180deg,
     rgb(215, 153, 102) 0%,
    rgba(249, 211, 180, 0) 400%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

h2{
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

h2 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  color: white;
  text-align: center;
  margin-top: 50px;
  background: linear-gradient(
    180deg,
    rgb(215, 153, 102) 0%,
    rgba(249, 211, 180, 0) 400%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.IDsearch {
  width: 71%;
  margin: 5rem 0 2rem;
  

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 1.5rem 1.75rem;
  border-radius: 3rem;
  background: #1f2123;
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
}

.IDsearch input {
  flex: 1;
  border: none;
  font-size: 1.5rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;
  text-align: center;

  outline: none;
  color: #a1a1a1;
  background: #1f2123;
}

.Tagsearch {
  width: 71%;
  margin: 2rem 0 2rem;
  

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 1.5rem 1.75rem;
  border-radius: 3rem;
  background: #1f2123;
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
}

.Tagsearch input {
  flex: 1;
  border: none;
  font-size: 1.5rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;
  text-align: center;

  outline: none;
  color: #a1a1a1;
  background: #1f2123;
}

.button{
  margin-top: 25px;
  flex: 1;
  border-radius: 3rem;
  border: none;
  font-size: 1.5rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;
  text-align: center;

  outline: none;
  color: #a1a1a1;
  background: #1f2123;
  padding: 1.5rem 1.75rem;
  border-radius: 3rem;
  background: #1f2123;
  -webkit-box-shadow: 5px 5px 5px #1c1d1f, -5px -5px 5px #222527;
  box-shadow: 5px 5px 5px #1c1d1f, -5px -5px 5px #222527;
}

.button:hover{
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  cursor: pointer;
}


  